<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mystargram</title>
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
      
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>