<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mystargram</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap" rel="stylesheet">

</head>

<body>
    <div class="controls">
        <label for="spacing">Spacing</label>
        <input id="spacing" name="spacing" type="range" min="10" max="100" value="10" data-sizing="px">

        <label for="blur">Blur:</label>
        <input id="blur" name="blur" type="range" min="0" max="25" value="10" data-sizing="px">

        <label for="Basecolor">Basecolor</label>
        <input id="base" type="color" name="base">
    </div>

    <h1>Mystargram</h1>
    <input type="text" name="search" placeholder="search photos" class="search">.
    <br>
    <div class="gallery"></div>


    <script src="index.js"></script>
</body>

</html>